.Navigation {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-transform: capitalize;
	color: #0000FF;
	text-decoration: none;
	padding: 4px;
	width: 180px;
}
.Navigation:hover, .Navigation:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	text-transform: capitalize;
	color: #FF0000;
	text-decoration: none;
	padding: 4px;
	width: 180px;
}
.MainTitle {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	font-weight: normal;
	text-transform: capitalize;
	color: #FF0000;
	text-decoration: none;
}
.Description {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	font-weight: normal;
	color: #0000FF;
	text-decoration: none;
}
.MainHeading {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bolder;
	color: #000000;
	text-decoration: none;
}
p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
a {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #0000FF;
	text-decoration: underline;
}
a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: normal;
	color: #FF0000;
	text-decoration: underline;
}
.ParagraphAdjustment {
	text-indent: 10px;
	text-align: left;
	margin-left: 120px;
}
.ParagraphIndent {
	text-indent: 10px;
}
.Contact {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
	text-decoration: none;
	text-align: center;
}
.HeadingIndent {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 26px;
	font-style: italic;
	color: #000000;
	text-decoration: none;
	text-indent: 50px;
	font-weight: bold;
}
.ParagraphIndentItalicized {
	text-indent: 10px;
	font-style: italic;
}
.Bold {
	font-weight: bold;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
}
.copyright {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: uppercase;
	color: #000000;
	text-decoration: none;
}
